* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    background: #A40808;
    background: -moz-linear-gradient(top, #A40808 0%, #FFFFFA 50%, #2591D9 100%);
    background: -webkit-linear-gradient(top, #A40808 0%, #FFFFFA 50%, #2591D9 100%);
    background: linear-gradient(to bottom, #A40808 0%, #FFFFFA 50%, #2591D9 100%);
}

ul {
    list-style: none;
}

li a {
    color: #000;
    text-decoration: none;
}

table.tabela {
    margin: auto;
    border: 2px solid #A40808;
    background-color: #2BAAFF;
    width: 80%;
    text-align: center;
    border-collapse: collapse;
}

table.tabela td,
table.tabela th {
    border: 1px solid #AAA;
    padding: 3px 2px;
}

table.tabela tbody td {
    font-size: 13px;
}

table.tabela thead {
    background: #A40808;
}

table.tabela thead th {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #A40808;
}

table.tabela thead th:first-child {
    border-left: none;
}

.active {
    background-color: #A40808;
}

.wrapper {
    display: grid;
    height: 100vh;
}

.wrapper>div {
    display: grid;
    height: 100%;
}

.box {
    padding: 8px;
    box-shadow: 2px 2px 7px 1px #A40808;
    background: #2BAAFF;
    border-radius: 15px;
}

#grupe {
    align-content: start;
}

#studenti {
    text-align: center;
    place-items: center;
    padding: 0 20px;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: minmax(min-content, max-content);
}


@media only screen and (max-width: 500px) {
    .wrapper {
        grid-template-rows: 2fr 2fr 2fr;
    }

    #meni {
        text-align: center;
        align-items: center;
    }

    #meni li {
        padding: 8px;
    }

    #meni li * {
        display: inline-block;
        width: 100%;
    }

    th:nth-child(n+2),
    td:nth-child(n+2) {
        display: none;
    }
}

@media only screen and (min-width: 501px) {
    .wrapper {
        grid-template-rows: 100px 2fr 2fr;
    }

    #meni {
        align-items: end;
    }

    #meni ul {
        padding-left: 20px;
        padding-bottom: 20px;
    }

    #meni li {
        padding: 8px;
        display: inline;
    }
}

@media only screen and (min-width: 800px) {
    .wrapper {
        grid-template-rows: 100px auto;
        grid-template-columns: 60% 40%;
    }

    #meni {
        grid-column: 1/3;
    }

    #studenti {
        grid-column: 1/2;
        grid-row: 2/3;
    }
}