* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    background: #A40808;
    background: -moz-linear-gradient(top, #A40808 0%, #FFFFFA 50%, #2591D9 100%);
    background: -webkit-linear-gradient(top, #A40808 0%, #FFFFFA 50%, #2591D9 100%);
    background: linear-gradient(to bottom, #A40808 0%, #FFFFFA 50%, #2591D9 100%);
}

li {
    border: 5px outset #A40808;
    border-radius: 15px;
}

li a {
    color: #000;
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: 1fr 1fr;
}

#meni {
    display: grid;
    height: 100%;
    align-items: end;
    grid-column: 1/3;
}

#meni ul {
    padding-left: 20px;
    padding-bottom: 20px;
}

#meni li {
    padding: 8px;
    display: inline;
}

#vjezbe {
    grid-row: 2/3;
}

#repo {
    grid-column: 1/3;
}

/* Style inputs, select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Style the submit button */
input[type=submit] {
    box-shadow: 2px 2px 7px 1px #A40808;
    background: #2BAAFF;
    border-radius: 15px;
    color: white;
    padding: 12px 20px;
    margin-top: 12px;
    cursor: pointer;
    float: right;
}

.container {
    padding: 20px;
}

.col-25 {
    text-align: justify;
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 700px) {
    .wrapper {
        grid-template-columns: 100%;
        grid-template-rows: 100px 1fr 1fr;
    }

    #errors {
        grid-row-start: 3;
    }

    .container,
    .col-25,
    .col-75 {
        width: 100%;
        margin-top: 0;
    }

    input[type="submit"] {
        width: 100%;
        margin-top: 12px;
    }
}