* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    background: #A40808;
    background: -moz-linear-gradient(top, #A40808 0%, #FFFFFA 50%, #2591D9 100%);
    background: -webkit-linear-gradient(top, #A40808 0%, #FFFFFA 50%, #2591D9 100%);
    background: linear-gradient(to bottom, #A40808 0%, #FFFFFA 50%, #2591D9 100%);
}

ul {
    list-style: none;
}

li a {
    color: #000;
    text-decoration: none;
}

.active {
    background-color: #A40808;
}

.wrapper {
    display: grid;
    grid-template-rows: 100px auto;
    row-gap: 1rem;
}

.wrapper>div {
    display: grid;
    height: 100%;
}

.box-1 {
    background: #2BAAFF;
    padding: 8px;
    box-shadow: 2px 2px 7px 1px #A40808;
    border-radius: 15px;
}

.box-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.box-3 {
    padding: 0 8px;
    display: flex;
    border: 5px outset #A40808;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    font-size: 70%;
}

#meni {
    align-items: end;
}

#meni ul {
    padding-left: 20px;
    padding-bottom: 20px;
}

#meni li {
    padding: 8px;
    display: inline;
}

#odabirVjezbe {
    row-gap: 1rem;
    text-align: center;
    padding: 0 20px;
}

.wrapper .graf {
    justify-self: center;
}

@media only screen and (min-width: 800px) {
    body {
        height: 100vh;
    }

    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    #meni {
        grid-column: 1/4;
    }

    .graf {
        display: block;
        max-width: 100%;
        height: auto;
    }

    #odabirVjezbe {
        grid-column: 1/2;
        grid-row: 2/4;
    }
}